<div id="search-component" class="row mainu">
  	<div  class="col-lg-6">
		<select [(ngModel)]="selectedCountry" (ngModelChange)="onCountryChange($event)" class="form-control">
			<option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
    	</select>
    </div>
    <div class="col-lg-3">	
		<button type="button" class="btn btn-default" (click)="addCountry()">Get selected Country info!</button>
	</div>        	
</div>	
<display-timezones [timezone]="currentCountrytimeZone" *ngIf="currentCountrytimeZone!=null"></display-timezones>

